.reveal {
  color: #c0c2c3 !important;
}
h1 {
  letter-spacing: 3px !important;
  font-family: Lato, sans-serif !important;
  font-size: 36px !important;
  font-weight: 700 !important;
}
h2 {
  letter-spacing: 3px !important;
  font-family: Lato, sans-serif !important;
  font-size: 36px !important;
  font-weight: 700 !important;
}
p {
  margin-left: 20px !important;
  font-size: 26px;
  line-height: 28px !important;
}
